.who-we-are {
    padding: 5rem;
    text-align: center;
}

.who-we-are__title {
    color: #8D0606;
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
    margin-bottom: 1rem;
}

.who-we-are__description {
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}

.people {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.person {
    display: flex;
    flex-direction: column;
}

.person__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin: 0 auto;
    height: 160px;
    width: 160px;
}

.person__img--roberta {
    background-image: url(../../img/people/roberta.jpg);
}

.person__img--marcela {
    background-image: url(../../img/people/marcela.jpg);
}

.person__img--andreia {
    background-image: url(../../img/people/andreia.jpg);
}

.person__name {
    color: #8D0606;
    font-family: Pacifico, cursive;
    font-size: 2rem;
    margin: 1rem 0;
}

.person__function {
    color: #595959;
    font-size: 1.25rem;
    text-transform: lowercase;
}

@media screen and (min-width: 0) {
    .people {
        flex-direction: column;
    }

    .person {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .people {
        flex-direction: row;
    }
    
    .person {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1400px) {

    .person__img {
        height: 300px;
        width: 300px;
    }
}